# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\woc30\woc30_ecommerce_price_tracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
